# Node modules
node_modules/

# Do not ignore the 'db' and 'db/files' directories themselves
!/db/
!/db/files/
!/db/files/.gitignore

# Database files inside the 'db' folder
db/*.db
db/*.sqlite

# Ignore all files in the 'db/files' directory
db/files/*